AddType video/ogg .ogv
AddType audio/ogg .ogg
AddType video/mp4 .mp4
AddType video/mp4 .m4v
AddType video/webm .webm
AddType font/woff .woff
AddType font/woff2 .woff2

<IfModule mod_deflate.c>
	<IfModule mod_filter.c>
		AddOutputFilterByType DEFLATE text/plain text/html text/xml text/css \
			application/xml application/xhtml+xml application/rss+xml \
			application/javascript application/x-javascript \
			text/x-component text/richtext image/svg+xml text/xsd text/xsl image/x-icon
	</IfModule>
</IfModule>

<IfModule mod_headers.c>
	<Files ~ "\.(gif|jpg|png|ico|woff|ttf|eot|svg)$">
	    FileETag None
		Header set Cache-Control "max-age=604800, public"
		Header set ExpiresDefault "access plus 7 days"
	</Files>
	<Files ~ "\.(js|css)$">
	    FileETag None
		Header set Cache-Control "max-age=28800, public"
		Header set ExpiresDefault "access plus 8 hours"
	</Files>
	<Files ~ "\.woff$">
		Header set Vary "Accept-Encoding"
	</Files>
	<Files ~ "\.css\.php$">
	    FileETag None
	</Files>
</IfModule>

<IfModule mod_headers.c>
	Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
	Header always set X-Content-Type-Options "nosniff"
	Header always set Referrer-Policy "strict-origin-when-cross-origin"
	Header always set X-Frame-Options "SAMEORIGIN"
</IfModule>

# from https://gist.github.com/1476499
ErrorDocument 404 '<a href="https://www.flickr.com/photos/girliemac/6508022985/" title="404 - Not Found by GirlieMac, on Flickr"><img src="https://farm8.staticflickr.com/7172/6508022985_b22200ced0.jpg" width="500" height="400" alt="404 - Not Found"></a><p>Page not found. <a href="https://www.tmitg.com/">Go back home</a></p>'
ErrorDocument 401 '<a href="https://www.flickr.com/photos/girliemac/6508023065/" title="401 - Unauthorized by GirlieMac, on Flickr"><img src="https://farm8.staticflickr.com/7148/6508023065_8dae48a30b.jpg" width="500" height="400" alt="401 - Unauthorized"></a>'
ErrorDocument 406 '<a href="https://www.flickr.com/photos/girliemac/6508023119/" title="406 - Not Acceptable by GirlieMac, on Flickr"><img src="https://farm8.staticflickr.com/7143/6508023119_b681209a58.jpg" width="500" height="400" alt="406 - Not Acceptable"></a>'
ErrorDocument 408 '<a href="https://www.flickr.com/photos/girliemac/6508023179/" title="408 - Request Timeout by GirlieMac, on Flickr"><img src="https://farm8.staticflickr.com/7018/6508023179_bab3eebce8.jpg" width="500" height="400" alt="408 - Request Timeout"></a>'
ErrorDocument 409 '<a href="https://www.flickr.com/photos/girliemac/6508023259/" title="409 - Conflict by GirlieMac, on Flickr"><img src="https://farm8.staticflickr.com/7010/6508023259_b1c6f5a353.jpg" width="500" height="400" alt="409 - Conflict"></a>'
ErrorDocument 414 '<a href="https://www.flickr.com/photos/girliemac/6508023351/" title="414 - Request-URI Too Long by GirlieMac, on Flickr"><img src="https://farm8.staticflickr.com/7152/6508023351_6732ed2f58.jpg" width="400" height="500" alt="414 - Request-URI Too Long"></a>'
ErrorDocument 502 '<a href="https://www.flickr.com/photos/girliemac/6508023429/" title="502 - Bad Gateway by GirlieMac, on Flickr"><img src="https://farm8.staticflickr.com/7158/6508023429_735b433a36.jpg" width="500" height="400" alt="502 - Bad Gateway"></a>'
ErrorDocument 405 '<a href="https://www.flickr.com/photos/girliemac/6508023523/" title="405 - Method Not Allowed by GirlieMac, on Flickr"><img src="https://farm8.staticflickr.com/7175/6508023523_996188af86.jpg" width="500" height="400" alt="405 - Method Not Allowed"></a>'
ErrorDocument 403 '<a href="https://www.flickr.com/photos/girliemac/6508023617/" title="403 - Forbidden by GirlieMac, on Flickr"><img src="https://farm8.staticflickr.com/7173/6508023617_f3ffc34e17.jpg" width="500" height="400" alt="403 - Forbidden"></a>'
ErrorDocument 417 '<a href="https://www.flickr.com/photos/girliemac/6508023679/" title="417 - Expectation Failed by GirlieMac, on Flickr"><img src="https://farm8.staticflickr.com/7009/6508023679_cb3e88fa92.jpg" width="500" height="400" alt="417 - Expectation Failed"></a>'
ErrorDocument 413 '<a href="https://www.flickr.com/photos/girliemac/6508023747/" title="413 - Request Entity Too Large by GirlieMac, on Flickr"><img src="https://farm8.staticflickr.com/7161/6508023747_1d60889626.jpg" width="500" height="400" alt="413 - Request Entity Too Large"></a>'
ErrorDocument 507 '<a href="https://www.flickr.com/photos/girliemac/6509400503/" title="507 - Insufficient Storage by GirlieMac, on Flickr"><img src="https://farm8.staticflickr.com/7160/6509400503_648dc8a2e5.jpg" width="500" height="400" alt="507 - Insufficient Storage"></a>'
ErrorDocument 508 '<a href="https://www.flickr.com/photos/girliemac/6509400445/" title="508 - Loop Detected by GirlieMac, on Flickr"><img src="https://farm8.staticflickr.com/7025/6509400445_5fd9c7a9c3.jpg" width="500" height="400" alt="508 - Loop Detected"></a>'
ErrorDocument 426 '<a href="https://www.flickr.com/photos/girliemac/6509400771/" title="426 - Upgrade Required by GirlieMac, on Flickr"><img src="https://farm8.staticflickr.com/7167/6509400771_33a1f59890.jpg" width="500" height="400" alt="426 - Upgrade Required"></a>'
ErrorDocument 500 '<a href="https://www.flickr.com/photos/girliemac/6509400855/" title="500 - Internal Server Error by GirlieMac, on Flickr"><img src="https://farm8.staticflickr.com/7001/6509400855_aaaf915871.jpg" width="500" height="400" alt="500 - Internal Server Error"></a>'

<IfModule mod_rewrite.c>
  RewriteEngine on

  # my rules
  RewriteRule ^news-rss.xml$ https://www.tmitg.com/news-rss.xml.php [R=301]  

  # 2020 promo code downloads
  # RewriteRule ^code/abcdefgh$ https://www.tmitg.com/files/tmitg-promo.php?receipt=Name [R=301,L]
       
  # dead things
  RewriteRule ^fanarea(.*)$ - [G,NC]
  RewriteRule ^media(.*)$ - [G,NC]
  RewriteRule ^mobile/$ - [G,NC]
  RewriteRule ^m/$ - [G,NC]
  RewriteRule ^xv/$ - [G,NC]
  RewriteRule ^mp3-(.*)$ - [G,NC]
  RewriteRule ^viewmp3\.php(.*)$ - [G,NC]
  RewriteRule ^(.*)\.mp3111$ - [G,NC]
  RewriteRule ^(.*)showstop=1$ - [G,NC]
</IfModule>
