/* mobile nav from codepen */
.mobile {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  z-index:999;
}
.mobile button {
  z-index:1001;
}
.mobile div {
  display: none;
}
.mobile button {
  position: absolute;
  top: 15px;
  left: 15px;
  border: 0;
  text-indent: 200%;
  overflow: hidden;
  background: rgba(255,255,255,0.8) url("https://i.imgur.com/vKRaKDX.png") center no-repeat;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-size: 80%;
  width: 30px;
  height: 30px;
  outline: none;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.mobile button.expanded {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  background-color: transparent;
  border: 0;
}
.mobile a {
  display: block;
}
.mobile a {
  background: #eee;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  text-decoration: none;
  color: #222;
  font-weight: bold;
}
.mobile a:hover,
.mobile a:active,
.mobile a:focus {
  background: #e7e7e7;
}
@media (max-width: 725px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}
